.contenitore{
  position:Absolute;
  display: table;
  width:21%;
  margin: 0 auto;
}
#Didattica{
  display: table-cell;
}
#Fisica{
  display: table-cell;
}
#maggiore{
  display: table-cell;
}
.lista {
  color: #0000EE;
}
.lista:hover {
  color: purple;
}
#maggiore2{
  display: table-cell;
}
#Crivellaro{
  display: table-cell;
}
#marchio{
  position:absolute;
  color:grey;
  font-size: 9px;
  left: 50%;
  bottom:1px;
}