.contenitore{
  display: table;
  width: 13%;
  margin: 0 auto;
}
#Didattica{
  display: table-cell;
}
#Fisica{
  display: table-cell;
}
#maggiore{
  display: table-cell;
}
.lista {
  color: #0000EE;
}
.lista:hover {
  color: purple;
}