.contenitore{
  display: table;
  width: 13%;
  margin: 0 auto;
}
#Didattica{
  display: table-cell;
}
#Fisica{
  display: table-cell;
}
#maggiore{
  display: table-cell;
}
.lista {
  color: #0000EE;
}
.lista:hover {
  color: purple;
}
#marchio{
  position:absolute;
  color:grey;
  font-size: 9px;
  left: 50%;
  bottom:1px;
}
body {
  background-image: url("https://cdn.glitch.com/f46cfb06-f906-478d-8672-94bd9a93cac9%2F50-Beautiful-and-Minimalist-Presentation-Backgrounds-04.jpg?v=1573300422786");
}